<div class="starter-template">
<h1>About</h1>
<p>
    This is a small automatic timesheet tracker that I wrote just o learn ASP.Net MVC Core. I started from scratch "dotnet new" with a console app and slowly added the asp.net components one after the other over time. 
    -- Ferose
</p>
</div>

