@model IList<LogEntry>

<table class="table">
    <tr>
        <th>Name</th>
        <th>Login</th>
        <th>Logout</th>
    </tr>
@foreach(var log in Model)
{
    <tr>
        <td>@log.Name</td>
        <td>@log.StartTime</td>
        <td>@log.StopTime</td>
    </tr>
}    
</table>