@model IList<LogEntryViewModel>

<div class="starter-template">
<h1>Daily Log</h1>
    <p class="lead">
        <table class="table">
            <tr>
                <th>Hours</th>
                <th>Login</th>
                <th>Logout</th>
                <th>Action</th>
            </tr>
            @foreach(var log in Model)
            {
                <tr>
                    <td>@log.TimeSpent</td>
                    <td>@log.StartTime</td>
                    <td>@log.StopTime</td>
                    <td><a asp-controller="Log" asp-action="Delete" asp-route-id="@log.data.Id">Delete</a></td>
                </tr>
            }    
        </table>
    </p>
</div>
